<h1 class="title">Resend unlock instructions</h1>

<div class="form-container block">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: "button is-primary" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
