<h1>Users#new</h1>

<%= form_with url: "/users" do |form| %>
  <%= form.label :name, "Your name" %>
  <%= form.text_field :name, required: true %>
  <%= form.label :email, "Your email (optional)" %>
  <%= form.text_field :email%>
  <%= form.submit "Save" %>
<% end %>
