<div class="row">
  <% if @game.are_you_anonymous %>
    <div>
      <%= render partial: "cards/card_section_title", locals: { title: @game.labels[:player_cards] } %>
      <div>
        <div class="rotated_cards">
          <% @game.player_cards.each do |card| %>
            <div data-role="card">
              <%= render partial: "cards/card_png", locals: { card: "sleeve_1" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div>
      <%= render partial: "cards/card_section_title", locals: { title: "Your cards" } %>
      <div>

        <% if @game.show_discard_checkboxes %>
          <%= render partial: "cards/card_checkboxes_section" %>
        <% end %>

        <% if @game.show_play_card_radios %>
          <%= render partial: "cards/card_radios_section" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="cut_card_section">
    <%= render partial: "cards/card_section_title", locals: { title: "Cut card"} %>
    <div>
      <% if !@game.cut_card.nil? %>
        <%= render partial: "cards/card_png", locals: { card: @game.cut_card } %>
      <% end %>
    </div>
  </div>
</div>

<div id="pile_cards_section">
  <div id="pile_score">
    <%= render partial: "cards/card_section_title", locals: { title: "Pile score: #{@game.pile_score}" } %>
  </div>
  <div>
    <div class="row">
      <% @game.pile_cards.each do |card| %>
        <div data-role="card">
          <%= render partial: "cards/card_png", locals: { card: card } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div id="opponent_cards_section">
    <%= render partial: "cards/card_section_title", locals: { title: @game.labels[:opponents_cards]} %>
    <div>
      <div class="rotated_cards">
        <% @game.opponent_cards.each do |card| %>
          <div data-role="card">
            <%= render partial: "cards/card_png", locals: { card: "sleeve_1" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="crib_cards_section">
    <%= render partial: "cards/card_section_title", locals: { title: @game.crib_label } %>
    <div>
      <div class="rotated_cards">
        <% @game.crib_cards.each do |card| %>
          <div data-role="card">
            <%= render partial: "cards/card_png", locals: { card: "sleeve_1" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
