<div class="is-size-1"><%= app.welcome_msg %></div>
<p id="who-is-the-dealer"><%= gvm.who_is_the_dealer %></p>

<% if !gvm.game_play_message.blank? %>
  <div id="game_play_message_container" class="notification is-primary is-light">
    <h1 id="game_play_message" class="title"><%= gvm.game_play_message %></h1>
    <% if gvm.show_refresh_btn %>
      <%= render(
        partial: "games/update_btn",
        locals: { gvm: gvm, label: "Hurry up, Bot!", type_of_update: "hurry_up_bot"}
      )%>
    <% end %>
  </div>
<% end %>

<% for msg in gvm.play_by_play do %>
  <div id="game_play_alert" class="notification is-secondary">
    <%= msg %>
  </div>
<% end %>

<% if gvm.update_btn_content[:is_show_update_btn] %>
  <%= render partial: "games/update_btn", locals: { gvm: gvm, label: gvm.update_btn_content[:label], type_of_update: gvm.update_btn_content[:type_of_update]} %>
<% end %>

<% if gvm.has_game_started %>
  <div id="game-grid">
    <div>
      <div id="your_score"><%= gvm.player_has_n_points_label %></div>
      <progress class="progress is-success" value="<%= gvm.player_total_score_percent %>" max="100"><%= gvm.player_total_score_percent %></progress>

      <div id="opponent_score"><%= gvm.labels[:opponent_has_n_points] %></div>
      <progress class="progress is-danger" value="<%= gvm.opponent_total_score_percent %>" max="100"><%= gvm.opponent_total_score_percent %></progress>
    </div>
    <div>
      <%= render partial: "games/game_play", locals: { gvm: gvm } %>
    </div>
  </div>
<% end %>
