
<div id="your_score"><%= @game.player_has_n_points_label %></div>
<progress class="progress is-success" value="<%= @game.player_total_score_percent %>" max="100"><%= @game.player_total_score_percent %></progress>

<div id="opponent_score"><%= @game.labels[:opponent_has_n_points] %></div>
<progress class="progress is-danger" value="<%= @game.opponent_total_score_percent %>" max="100"><%= @game.opponent_total_score_percent %></progress>

<div class="row">
  <div id="cut_card_section" class="card">
    <div class="card-header">
      <p class="card-header-title">
        Cut card
      </p>
    </div>
    <div class="card-content">
      <% if !@game.cut_card.nil? %>
        <%= render partial: "cards/card_svg", locals: { card: @game.cut_card } %>
      <% end %>
    </div>
  </div>
  <div id="crib_cards_section" class="card">
    <div class="card-header">
      <p class="card-header-title">
        <%= @game.crib_label %>
      </p>
    </div>
    <div class="card-content">
      <div class="row">
        <% @game.crib_cards.each do |card| %>
          <div data-role="card">
            <%= render partial: "cards/card_anonymous" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="pile_cards_section" class="card">
  <div class="card-header">
    <p class="card-header-title">
      Pile score: <%= @game.pile_score %>
    </p>
  </div>
  <div class="card-content">
    <div class="row">
      <% @game.pile_cards.each do |card| %>
        <div data-role="card">
          <%= render partial: "cards/card_svg", locals: { card: card } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @game.are_you_anonymous %>
  <div>
    <h3><%= @game.labels[:player_cards] %></h3>
    <div class="row">
      <% @game.player_cards.each do |card| %>
        <div data-role="card">
          <%= render partial: "cards/card_anonymous" %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div>
    <h3>Your cards:</h3>

    <% if @game.show_discard_checkboxes %>
      <%= render partial: "cards/card_checkboxes_section" %>
    <% end %>

    <% if @game.show_play_card_radios %>
      <%= render partial: "cards/card_radios_section" %>
    <% end %>
  </div>
<% end %>

<div id="opponent_cards_section">
  <h3><%= @game.labels[:opponents_cards] %></h3>
  <div class="row">
    <% @game.opponent_cards.each do |card| %>
      <div data-role="card">
        <%= render partial: "cards/card_anonymous" %>
      </div>
    <% end %>
  </div>
</div>

