<div>
  <% if gvm.is_show_pile_section %>
    <div>
      <div id="pile_score">
        <%= render partial: "cards/card_section_title", locals: { title: "Pile score: #{gvm.pile_score}" } %>
      </div>
      <% if gvm.pile_cards_formatted.empty? %>
        <%= render partial: "cards/card_png", locals: { card: "red_x" } %>
      <% else %>
        <div class="row">
          <% gvm.pile_cards_formatted.each do |card| %>
            <%= render partial: "cards/card_png", locals: { card: card } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <% if gvm.are_you_anonymous %>
      <%= render partial: "cards/card_section_title", locals: { title: gvm.your_cards_section_header } %>
      <% if gvm.player_cards.empty? %>
        <%= render partial: "cards/card_png", locals: { card: "red_x" } %>
      <% else %>
        <div class="rotated_cards">
          <% gvm.player_cards.each do |card| %>
            <%= render partial: "cards/card_png", locals: { card: "sleeve_1" } %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div>
        <%= render partial: "cards/card_section_title", locals: { title: gvm.your_cards_section_header } %>

        <% if gvm.show_discard_checkboxes %>
          <%= render partial: "cards/card_checkboxes_section", locals: { gvm: gvm } %>
        <% elsif gvm.show_play_card_radios %>
          <%= render partial: "cards/card_radios_section", locals: { gvm: gvm } %>
        <% else %>
          <%= render partial: "cards/card_png", locals: { card: "red_x" } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if gvm.is_show_cut_card_section %>
    <div>
      <%= render partial: "cards/card_section_title", locals: { title: "Cut card"} %>
      <% if !gvm.cut_card.nil? %>
        <%= render partial: "cards/card_png", locals: { card: gvm.cut_card } %>
      <% else %>
        <%= render partial: "cards/card_png", locals: { card: "red_x" } %>
      <% end %>
    </div>
  <% end %>

  <% if gvm.is_show_opponent_cards_section %>
    <div>
      <%= render partial: "cards/card_section_title", locals: { title: gvm.opponent_cards_section_header } %>
      <% if gvm.opponent_cards.empty? %>
        <%= render partial: "cards/card_png", locals: { card: "red_x" } %>
      <% else %>
        <div class="rotated_cards">
          <% gvm.opponent_cards.each do |card| %>
            <%= render partial: "cards/card_png", locals: { card: "sleeve_1" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if gvm.is_show_crib_section %>
    <div class="<%= gvm.crib_cards_section_class %>">
      <%= render partial: "cards/card_section_title", locals: { title: gvm.crib_label } %>
      <% if gvm.crib_cards.empty? %>
        <%= render partial: "cards/card_png", locals: { card: "red_x" } %>
      <% else %>
        <div class="rotated_cards">
          <% gvm.crib_cards.each do |card| %>
            <%= render partial: "cards/card_png", locals: { card: "sleeve_1" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
