
<table>
  <thead>
    <tr>
      <th>game_id</th>
      <th>creator_id</th>
      <th>guest_id</th>
      <th>current_fsm_state</th>
      <th>created_at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <th><%= game.id %></th>
        <th><%= game.player_one_id %></th>
        <th><%= game.player_two_id %></th>
        <th><%= game.current_fsm_state %></th>
        <th><%= game.created_at.strftime("%m-%d-%Y %T") %></th>
        <th>
          <%= button_to "delete", game_path(game.id), method: :delete  %>
        </th>
        <th>
          <%= link_to 'open', game_path(game.id) %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
