
<table>
  <thead>
    <tr>
      <th>game_id</th>
      <th>creator_id</th>
      <th>guest_id</th>
      <th>current_fsm_state</th>
      <th>created_at</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% gvms.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.player_one_name %></td>
        <td><%= game.player_two_name %></td>
        <td><%= game.current_fsm_state %></td>
        <td><%= game.created_at.strftime("%m-%d-%Y %T") %></td>
        <td>
          <%= button_to "delete", game_path(game), method: :delete  %>
        </td>
        <td>
          <%= link_to 'open', game_path(game) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
