<% gvms.each do |game| %>
  <div>
    <div>Game <%= game.id %></div>
    <div>Created by <%= game.player_one_name %> on <%= game.created_at.strftime("%m-%d-%Y %T") %></div>
    <div>Opponent is <%= game.player_two_name %></div>
    <div>Game state: <%= game.current_fsm_state %></div>
    <div class="game_mgmt_buttons">
      <%= button_to "delete", game_path(game), method: :delete, class: 'button is-danger is-small'  %>
      <%= link_to 'open', game_path(game), class: 'button is-primary is-small' %>
    </div>
  </div>
<% end %>
