<% gvms.each do |game| %>
  <div class="game_row">
    <div>Game <%= game.id %></div>
    <div class="creator_name">Created by <%= game.player_one_name %> on <%= game.created_at.to_fs(:long) %></div>
    <div class="opponent_name">Opponent is <%= game.player_two_name %></div>
    <div class="game_state">Game state: <%= game.current_fsm_state %></div>
    <div class="game_mgmt_buttons">
      <%= button_to "delete", game.update_path, method: :delete, class: 'button is-danger is-small'  %>
      <%= link_to 'open', game.update_path, class: 'button is-primary is-small' %>
    </div>
  </div>
<% end %>
