<h1 class="title">Your games</h1>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Creator</th>
      <th>Guest</th>
      <th>Current state</th>
      <th>Created at</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% gvms.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.player_one_name %></td>
        <td><%= game.player_two_name %></td>
        <td><%= game.current_fsm_state %></td>
        <td><%= game.created_at.strftime("%m-%d-%Y %T") %></td>
        <td>
          <%= button_to "delete", game_path(game), method: :delete, class: 'button is-dark is-small'  %>
        </td>
        <td>
          <%= link_to 'open', game_path(game), class: 'button is-link is-small' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
