<turbo-stream action="replace" target="error_msg_container">
  <template>
    <div id="error_msg_container">
      <%= render partial: "/flash_errors", formats: [:html], locals: { error_msg: flash[:error_msg] } %>
    </div>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="<%= dom_id(gvm) %>">
  <template>
    <div id="<%= dom_id(gvm) %>">
      <div class="">
        <%= render(
          partial: "games/game_play_container",
          formats: [:html],
          locals: { gvm: gvm, app: app }
        ) %>
      </div>
      <%= pre_bot_update_html_string %>
    </div>
  </template>
</turbo-stream>

