<h1>Games#index</h1>

<% flash.each do |name, msg| %>
  <div class="error_msg">
    <%= msg %>
  </div>
<% end %>

<%= form_with url: '/games' do |form| %>
  <%= form.radio_button :creator_id, "hank", :checked => true %>
  <%= form.label :creator_id_hank, "Hank" %>
  <%= form.radio_button :creator_id, "sally" %>
  <%= form.label :creator_id_sally, "Sally" %>
  <%= form.submit %>
<% end %>

<%= render "table" %>

