<div class="is-size-1"><%= @game.labels[:welcome] %></div>

<% if !@game.game_play_message.blank? %>
  <div id="game_play_message" class="notification is-primary is-light">
    <h1 class="title"><%= @game.game_play_message %></h1>
    <%= button_to "Refresh", game_path(@game), { method: :get, class: 'button is-primary' } %>
  </div>
<% end %>

<% if !@game.game_play_alert.blank? %>
  <div id="game_play_alert" class="notification is-secondary">
    <%= @game.game_play_alert %>
  </div>
<% end %>

<div id="your_score"><%= @game.labels[:you_have_n_points] %></div>
<progress class="progress is-success" value="<%= @game.player_total_score_percent %>" max="100"><%= @game.player_total_score_percent %></progress>

<div id="opponent_score"><%= @game.labels[:opponent_has_n_points] %></div>
<progress class="progress is-danger" value="<%= @game.opponent_total_score_percent %>" max="100"><%= @game.opponent_total_score_percent %></progress>

<% if @game.update_btn_content[:is_show_update_btn] %>
  <%= render partial: "update_btn", locals: {label: @game.update_btn_content[:label], type_of_update: @game.update_btn_content[:type_of_update]} %>
<% end %>

<div id="cut_card_section">
  <h3>Cut card:</h3>
  <div>
    <% if !@game.cut_card.nil? %>
      <%= render partial: "cards/card_svg", locals: { card: @game.cut_card } %>
    <% end %>
  </div>
</div>

<div id="pile_cards_section">
  <h3>Pile cards:</h3>
  <h4 id="pile_score">Pile score: <%= @game.pile_score %></h4>
  <div class="row">
    <% @game.pile_cards.each do |card| %>
      <div data-role="card">
        <%= render partial: "cards/card_svg", locals: { card: card } %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <h3>Your cards:</h3>

  <% if @game.should_show_discard_checkboxes %>
    <%= form_with(url: game_path, method: "patch") do |form| %>
      <div class="row">
        <% @game.player_cards.each do |card| %>
          <%= render partial: 'cards/card_checkbox', locals: { card: card } %>
        <% end %>
      </div>
      <%= form.submit "Discard", id: "discard_btn", class: "button is-primary" %>
      <%= form.hidden_field :type_of_update, value: 'discard' %>
    <% end %>
  <% end %>

  <% if @game.should_show_play_card_radios %>
    <%= form_with(url: game_path, method: "patch") do |form| %>
      <div class="row">
        <% @game.player_cards.each do |card| %>
          <%= render partial: 'cards/card_radio', locals: { card: card } %>
        <% end %>
      </div>
      <%= form.submit "Play card", id: "play_btn", class: "button is-primary" %>
      <%= form.hidden_field :type_of_update, value: 'play_card' %>
    <% end %>
  <% end %>
</div>

<div id="opponent_cards_section">
  <h3><%= @game.labels[:opponents_cards] %></h3>
  <div class="row">
    <% @game.opponent_cards.each do |card| %>
      <div data-role="card">
        <%= render partial: "cards/card_anonymous" %>
      </div>
    <% end %>
  </div>
</div>

<div id="crib_cards_section">
  <h3>Crib cards:</h3>
  <% if @game.are_you_dealer %>
    <span class="tag is-info is-large">
      <%= @game.labels[:your_crib] %>
    </span>
  <% else %>
    <span class="tag is-warning is-large">
      <%= @game.labels[:opponents_crib] %>
    </span>
  <% end %>
  <div class="row">
    <% @game.crib_cards.each do |card| %>
      <div data-role="card">
        <%= render partial: "cards/card_anonymous" %>
      </div>
    <% end %>
  </div>
</div>

