<h1><%= "Game #{@game.id}" %></h1>
<h2><%= "Player #{@game.player_name}" %></h2>

<% @game.attributes.each do |att| %>
  <div>
    <%= att %>
  </div>
<% end %>

<% if !@game.game_play_message.blank? %>
  <div id="game_play_message" class="notification is-primary is-light">
    <h1 class="title"><%= @game.game_play_message %></h1>
  </div>
<% end %>

<% if !@game.game_play_alert.blank? %>
  <div id="game_play_alert" class="notification is-secondary">
    <%= @game.game_play_alert %>
  </div>
<% end %>

<div><%= @game.you_have_n_points %></div>
<progress class="progress is-success" value="60" max="100">60%</progress>

<div><%= @game.opponent_has_n_points %></div>
<progress class="progress is-danger" value="90" max="100">90%</progress>

<%= render partial: "update_btn", locals: {label: 'Start game', type_of_update: 'start_game' } %>
<%= render partial: "update_btn", locals: {label: 'Join game', type_of_update: 'join_game' } %>
<%= render partial: "update_btn", locals: {label: 'Cut for deal', type_of_update: 'cut_for_deal' } %>
<%= render partial: "update_btn", locals: {label: 'Deal cards', type_of_update: 'deal' } %>

<div id="cut_card_section">
  <h3>Cut card:</h3>
  <div>
    <% if !@game.cut_card.nil? %>
      <%= render partial: "cards/card_svg", locals: { card: @game.cut_card } %>
    <% end %>
  </div>
</div>

<div id="pile_cards_section">
  <h3>Pile cards:</h3>
  <h4 id="pile_score">Pile score: <%= @game.pile_score %></h4>
  <div class="row">
    <% @game.pile_cards.each do |card| %>
      <div>
        <%= render partial: "cards/card_svg", locals: { card: card } %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <h3>Your cards:</h3>
  <h4 id="your_score">Your score: <%= @game.player_total_score %></h4>

  <% if @game.should_show_discard_checkboxes %>
    <%= form_with(url: game_path, method: "patch") do |form| %>
      <div class="row">
        <% @game.player_cards.each do |card| %>
          <%= render partial: 'cards/card_checkbox', locals: { card: card } %>
        <% end %>
      </div>
      <%= form.submit "Discard", id: "discard_btn", class: "button is-primary" %>
      <%= form.hidden_field :type_of_update, value: 'discard' %>
    <% end %>
  <% end %>

  <% if @game.should_show_play_card_radios %>
    <%= form_with(url: game_path, method: "patch") do |form| %>
      <div class="row">
        <% @game.player_cards.each do |card| %>
          <%= render partial: 'cards/card_radio', locals: { card: card } %>
        <% end %>
      </div>
      <%= form.submit "Play card", id: "play_btn", class: "button is-primary" %>
      <%= form.hidden_field :type_of_update, value: 'play_card' %>
    <% end %>
  <% end %>
</div>

<div id="opponent_cards_section">
  <h3>Opponent's cards:</h3>
  <h4 id="opponents_score">Opponent's score: <%= @game.opponent_total_score %></h4>
  <div class="row">
    <% @game.opponent_cards.each do |card| %>
      <div>
        <%= render partial: "cards/card_anonymous" %>
      </div>
    <% end %>
  </div>
</div>

<div id="crib_cards_section">
  <h3>Crib cards:</h3>
  <div class="row">
    <% @game.crib_cards.each do |card| %>
      <div>
        <%= render partial: "cards/card_anonymous" %>
      </div>
    <% end %>
  </div>
</div>

