<h1><%= "Game #{@game.id}" %></h1>
<h2><%= "Player #{@game.player_name}" %></h2>

<% @game.attributes.each do |att| %>
  <div>
    <%= att %>
  </div>
<% end %>

<div class="row">
  <%= button_to 'start', game_path(@game), { method: :patch, params: {type_of_update: 'start_game' } } %>
  <%= button_to 'join', game_path(@game), { method: :patch, params: {type_of_update: 'join_game' } } %>
  <%= button_to 'cut_for_deal', game_path(@game), { method: :patch, params: {type_of_update: 'cut_for_deal' } } %>
  <%= button_to 'deal', game_path(@game), { method: :patch, params: {type_of_update: 'deal' } } %>
</div>

<div>
  <h3>Your cards:</h3>
  <h4>Your score: <%= @game.player_total_score %></h4>

  <% if @game.should_show_discard_checkboxes %>
    <%= form_with(url: game_path, method: "patch") do |form| %>
      <div class="row">
        <% @game.player_cards.each do |card| %>
          <%= render partial: 'cards/card_checkbox', locals: { card: card } %>
        <% end %>
      </div>
      <%= form.submit "Discard" %>
      <%= form.hidden_field :type_of_update, value: 'discard' %>
    <% end %>
  <% end %>

  <% if @game.should_show_play_card_radios %>
    <%= form_with(url: game_path, method: "patch") do |form| %>
      <div class="row">
        <% @game.player_cards.each do |card| %>
          <%= render partial: 'cards/card_radio', locals: { card: card } %>
        <% end %>
      </div>
      <%= form.submit "Play card" %>
      <%= form.hidden_field :type_of_update, value: 'play_card' %>
    <% end %>
  <% end %>
</div>

<div id="opponent_cards_section">
  <h3>Opponent's cards:</h3>
  <h4>Opponent's score: <%= @game.opponent_total_score %></h4>
  <div class="row">
    <% @game.opponent_cards.each do |card| %>
      <div class="card">
        <%= render partial: "cards/card_svg", locals: { card: card } %>
      </div>
    <% end %>
  </div>
</div>

<div id="pile_cards_section">
  <h3>Pile cards:</h3>
  <h4>Pile score: <%= @game.pile_score %></h4>
  <div class="row">
    <% @game.pile_cards.each do |card| %>
      <div class="card">
        <%= render partial: "cards/card_svg", locals: { card: card } %>
      </div>
    <% end %>
  </div>
</div>

<div id="crib_cards_section">
  <h3>Crib cards:</h3>
  <div class="row">
    <% @game.crib_cards.each do |card| %>
      <div class="card">
        <%= render partial: "cards/card_svg", locals: { card: card } %>
      </div>
    <% end %>
  </div>
</div>

<div id="cut_card_section">
  <h3>Cut card:</h3>
  <div class="card">
    <% if !@game.cut_card.nil? %>
      <%= render partial: "cards/card_svg", locals: { card: @game.cut_card } %>
    <% end %>
  </div>
</div>
