<div
  class="crib_board crib_unit_6"
  data-controller="crib-board"
  data-crib-board-player-one-score-value="<%= gvm.player_total_score %>"
  data-crib-board-player-two-score-value="<%= gvm.opponent_total_score %>"
  >
  <div class="crib_top">
    <div class="top_arch_container">
      <div class="finish_container">
        <div class="finish_text">finish</div>
        <div class="crib_circle"></div>
      </div>
      <div class="top_arch">
        <div class="inner_top_arch"><div class="innermost_top_arch"></div></div>
      </div>
      <div class="top_outer_left">
        <%= render partial: "cribbage_board/lane_one", locals: { ids: (36..40), gvm: gvm } %>
      </div>
      <div class="top_inner_left">
        <%= render partial: "cribbage_board/lane_two", locals: { ids: (36..40), gvm: gvm } %>
      </div>
      <div class="top_outer_right">
        <%= render partial: "cribbage_board/lane_one", locals: { ids: 45.downto(41), gvm: gvm } %>
      </div>
      <div class="top_inner_right">
        <%= render partial: "cribbage_board/lane_two", locals: { ids: 45.downto(41), gvm: gvm } %>
      </div>
    </div>
  </div>
  <div>
    <section class="crib_section lane_one top_border">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 35.downto(31), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two top_border">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 35.downto(31), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one top_border">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 120.downto(116), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two top_border">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 120.downto(116), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two top_border">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: (46..50), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one top_border">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: (46..50), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 30.downto(26), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 30.downto(26), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 115.downto(111), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 115.downto(111), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: (51..55), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: (51..55), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 25.downto(21), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 25.downto(21), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 110.downto(106), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 110.downto(106), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: (56..60), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: (56..60), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 20.downto(16), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 20.downto(16), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 105.downto(101), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 105.downto(101), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: (61..65), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: (61..65), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 15.downto(11), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 15.downto(11), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 100.downto(96), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 100.downto(96), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: (66..70), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: (66..70), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 10.downto(6), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 10.downto(6), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 95.downto(91), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 95.downto(91), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: (71..75), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: (71..75), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 5.downto(1), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 5.downto(1), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: 90.downto(86), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: 90.downto(86), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <%= render partial: "cribbage_board/lane_spacer" %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <%= render partial: "cribbage_board/lane_two", locals: { ids: (76..80), gvm: gvm } %>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <%= render partial: "cribbage_board/lane_one", locals: { ids: (76..80), gvm: gvm } %>
    </section>
  </div>
  <div class="start_container">
    <div class="start_text">start</div>
    <div class="start_circles">
      <section class="crib_section lane_one">
        <div id="0_lane_one" class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
      <section class="crib_section lane_two">
        <div id="0_lane_two" class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
  </div>
  <div class="crib_bottom">
    <div class="bottom_arch_container">
      <div class="bottom_arch">
        <div class="inner_bottom_arch">
          <div class="innermost_bottom_arch"></div>
        </div>
      </div>
      <div class="bottom_inner_arch">
        <%= render partial: "cribbage_board/lane_two", locals: { ids: (81..85), gvm: gvm } %>
      </div>
      <div class="bottom_outer_arch">
        <%= render partial: "cribbage_board/lane_one", locals: { ids: (81..85), gvm: gvm } %>
      </div>
    </div>
  </div>
</div>
