<h1>Preview of generated svg elements</h1>
<%= render partial: 'cards/card_svg', locals: { card: 'ah' } %>
<%= render partial: 'cards/card_svg', locals: { card: '2h' } %>
<%= render partial: 'cards/card_svg', locals: { card: '3h' } %>
<%= render partial: 'cards/card_svg', locals: { card: '4h' } %>
<%= render partial: 'cards/card_svg', locals: { card: '5h' } %>
<%= render partial: 'cards/card_svg', locals: { card: '6h' } %>
<%= render partial: 'cards/card_svg', locals: { card: '7h' } %>
<%= render partial: 'cards/card_svg', locals: { card: '8h' } %>
<%= render partial: 'cards/card_svg', locals: { card: '9h' } %>
<%= render partial: 'cards/card_svg', locals: { card: '10h' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'jh' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'qh' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'kh' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'ad' } %>
<%= render partial: 'cards/card_svg', locals: { card: '2d' } %>
<%= render partial: 'cards/card_svg', locals: { card: '3d' } %>
<%= render partial: 'cards/card_svg', locals: { card: '4d' } %>
<%= render partial: 'cards/card_svg', locals: { card: '5d' } %>
<%= render partial: 'cards/card_svg', locals: { card: '6d' } %>
<%= render partial: 'cards/card_svg', locals: { card: '7d' } %>
<%= render partial: 'cards/card_svg', locals: { card: '8d' } %>
<%= render partial: 'cards/card_svg', locals: { card: '9d' } %>
<%= render partial: 'cards/card_svg', locals: { card: '10d' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'jd' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'qd' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'kd' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'ac' } %>
<%= render partial: 'cards/card_svg', locals: { card: '2c' } %>
<%= render partial: 'cards/card_svg', locals: { card: '3c' } %>
<%= render partial: 'cards/card_svg', locals: { card: '4c' } %>
<%= render partial: 'cards/card_svg', locals: { card: '5c' } %>
<%= render partial: 'cards/card_svg', locals: { card: '6c' } %>
<%= render partial: 'cards/card_svg', locals: { card: '7c' } %>
<%= render partial: 'cards/card_svg', locals: { card: '8c' } %>
<%= render partial: 'cards/card_svg', locals: { card: '9c' } %>
<%= render partial: 'cards/card_svg', locals: { card: '10c' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'jc' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'qc' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'kc' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'as' } %>
<%= render partial: 'cards/card_svg', locals: { card: '2s' } %>
<%= render partial: 'cards/card_svg', locals: { card: '3s' } %>
<%= render partial: 'cards/card_svg', locals: { card: '4s' } %>
<%= render partial: 'cards/card_svg', locals: { card: '5s' } %>
<%= render partial: 'cards/card_svg', locals: { card: '6s' } %>
<%= render partial: 'cards/card_svg', locals: { card: '7s' } %>
<%= render partial: 'cards/card_svg', locals: { card: '8s' } %>
<%= render partial: 'cards/card_svg', locals: { card: '9s' } %>
<%= render partial: 'cards/card_svg', locals: { card: '10s' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'js' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'qs' } %>
<%= render partial: 'cards/card_svg', locals: { card: 'ks' } %>
