<h1>Preview of generated svg elements</h1>
<%= render "cards/ah" %>
<%= render "cards/2h" %>
<%= render "cards/3h" %>
<%= render "cards/4h" %>
<%= render "cards/5h" %>
<%= render "cards/6h" %>
<%= render "cards/7h" %>
<%= render "cards/8h" %>
<%= render "cards/9h" %>
<%= render "cards/10h" %>
<%= render "cards/jh" %>
<%= render "cards/qh" %>
<%= render "cards/kh" %>
<%= render "cards/ad" %>
<%= render "cards/2d" %>
<%= render "cards/3d" %>
<%= render "cards/4d" %>
<%= render "cards/5d" %>
<%= render "cards/6d" %>
<%= render "cards/7d" %>
<%= render "cards/8d" %>
<%= render "cards/9d" %>
<%= render "cards/10d" %>
<%= render "cards/jd" %>
<%= render "cards/qd" %>
<%= render "cards/kd" %>
<%= render "cards/ac" %>
<%= render "cards/2c" %>
<%= render "cards/3c" %>
<%= render "cards/4c" %>
<%= render "cards/5c" %>
<%= render "cards/6c" %>
<%= render "cards/7c" %>
<%= render "cards/8c" %>
<%= render "cards/9c" %>
<%= render "cards/10c" %>
<%= render "cards/jc" %>
<%= render "cards/qc" %>
<%= render "cards/kc" %>
<%= render "cards/as" %>
<%= render "cards/2s" %>
<%= render "cards/3s" %>
<%= render "cards/4s" %>
<%= render "cards/5s" %>
<%= render "cards/6s" %>
<%= render "cards/7s" %>
<%= render "cards/8s" %>
<%= render "cards/9s" %>
<%= render "cards/10s" %>
<%= render "cards/js" %>
<%= render "cards/qs" %>
<%= render "cards/ks" %>
