<div id="header">

  <div id="header_logo" alt="cribbage game logo"></div>


  <div id="header_actions">
    <div><%= @app.welcome_msg %></div>
    <% if @app.is_show_login_sign_up %>
      <%= link_to "Login", login_path %>
      <%= link_to "Sign up", users_new_path %>
    <% end %>
    <% if @app.is_show_admin_link %>
      <%= link_to "Admin", admin_path %>
    <% end %>
    <% if @app.is_show_log_out %>
      <%= button_to "Log out", logout_path, method: :delete, class: 'button is-small' %>
    <% end %>
  </div>
</div>
