<div id="header" class="block">

  <a href="/">
    <div id="header_logo" alt="cribbage game logo"></div>
  </a>

  <div id="header_actions">
    <div><%= @app.welcome_msg %></div>
    <% if ENV["RAILS_ENV"] == "test" %>
      <% if @app.is_show_login_sign_up %>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
      <% if @app.is_show_admin_link %>
        <%= link_to "Admin", admin_path %>
      <% end %>
      <% if @app.is_show_log_out %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: 'button is-small' %>
      <% end %>
    <% end %>
  </div>
</div>
