<!DOCTYPE html>
<html>
  <head>
    <title>RailsCribbage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script data-goatcounter="https://buchowski.goatcounter.com/count"
        async src="goat_count.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container section">
      <%= render "/header" %>
      <div id="error_msg_container">
        <%= render partial: "/flash_errors", locals: { error_msg: flash[:error_msg] } %>
      </div>
      <% if notice %>
        <div class="notification is-success">
          <p><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="notification is-danger">
          <p><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
